@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont-esquerda-sb{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.cont-esquerda1{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.cont-direita-sb{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.cont-direita1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.titulo1{
    font-weight: 'bold' !important;
    font-family: 'Bebas Neue' !important;
    font-size: 75px !important;
    color: #ffffff !important;
}
.titulo2{
    font-family: 'Bebas Neue' !important;
    font-size: 100px !important;
    color: #ffffff !important;
}

.subtitulo2{
    color: #ffffff;
    font-family: 'Roboto', sans-serif ;
}
.subtitulo{
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif ;
}

.subtitulo1{
    font-family: 'Bebas Neue' !important;
    font-size: 50px !important;
}

.boxtexto {
    width: 642px !important;
    height: 144px !important;  
    color: black !important;
}

.sobre-bg{
    background: linear-gradient(93.59deg, rgba(0, 0, 0, 0.6) 13.61%, rgba(0, 0, 0, 0) 87.41%), url("https://img.freepik.com/free-photo/beautiful-tree-middle-field-covered-with-grass-with-tree-line-background_181624-29267.jpg?w=2000") fixed center center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.imagem1{
    width: 170px !important;
    height: 170px !important;
    border-radius: 50% !important;
   
}

.cardB {
    width: 95%;
    height: 350px;
    background-image: url("https://i.imgur.com/9FzS3go.png") !important;
    background-size: cover;
    background-position: center;
}
.cardC {
    width: 95%;
    height: 400px;
    background-image: url("https://i.imgur.com/RpmbmAO.png") !important;
    background-size: cover;
    background-position: center;
}

.cardC1 {
    width: 600px;
    height: 220px;
    background-image: url("https://i.imgur.com/Ud3tScH.png") !important;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}
.cardD {
    width: 95%;
    height: 400px;
    background-image: url("https://i.imgur.com/96eDFz4.png") !important;
    background-size: cover;
    background-position: center;
}

.cardLuciana {
    width: 188px;
    height: 253px;
    background-image: url("https://i.imgur.com/InFAkD1.png") !important;
    background-size: cover;
    background-position: center;
}

.cardAndrei {
    width: 188px;
    height: 253px;
    background-image: url("https://i.imgur.com/jxAQMQs.png") !important;
    background-size: cover;
    background-position: center;
}

.cardLuan {
    width: 188px;
    height: 253px;
    background-image: url("https://i.imgur.com/8aynZXf.png")!important;
    background-size: cover;
    background-position: center;
}
.cardLairton{
    width: 188px;
    height: 253px;
    background-image: url("https://i.imgur.com/WHTmRiG.png")!important;
    background-size: cover;
    background-position: center;
}
.cardTacio{
    width: 188px;
    height: 253px;
    background-image: url("https://i.imgur.com/1SGmiR5.png")!important;
    background-size: cover;
    background-position: center;
}
.cardIsabela{
    width: 188px;
    height: 253px;
    background-image: url("https://i.imgur.com/RAhoAzY.png")!important;
    background-size: cover;
    background-position: center;
}
.flip-container{
    width: 188px;
    height: 253px;
    perspective: 1000px;
}
.flipper{
    width: 100%;
    height: 100%;
	transition: transform 0.8s;
    position: relative;
    transform-style: preserve-3d;
}
.flip-container:hover .flipper{
	transform: rotateY(180deg);
}
.back{
	position: absolute;
	width: 100%;
	height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.backgroundBack{
    background-image: url(https://i.imgur.com/LYl0Z2o.png) !important;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.fonteCardBack{
    font-family: sans-serif !important;
    color: #3E733C;
    font-weight: bold !important;
    font-size: 20px !important;
}
.fonteCardBack2{
    font-family: sans-serif !important;
    color: #3E733C;
    font-size: 16px !important;
}
.alinhamentoBack{
    margin-top: 15px;
    height:300px;
}
.front{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}
.cardEquipe {
    display: flex;
    height: 500px;
    justify-content: space-around;
}

.iconeSocial{
    font-size: 60px !important;
    transition: transform 0.5s;
    color: #3E733C;
}
.iconeSocial:hover{
    transform: scale(1.4);
    color: #3e733c72;
}
.intro{
    justify-content:center;
    align-items:center;
    display: flex;
    gap: 8px;
    height: calc(100vh - 65px);
}
.section1{
    width:100% !important;
}

