.backgroundImg{
    background: url('https://i.imgur.com/sv7n9il.jpg');
    background-size: cover;
}
.botao{
    background-color: #ADBF24 
    !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 18px !important;
    border-color: #3E733C !important;
    width: 100%;
    height: 48px;
    transition: 0.4s;
}

.botao:hover{
    background-color: #96A621!important;
}

.text-decorator-none{
    text-decoration: none;
}
.texto{
    font-weight: bold !important;
    color: #3E733C !important;
}
.imagem{
    background-image: url(https://i.imgur.com/0NrinUr.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.cursor{
    cursor: pointer;
    font-weight: bold !important;
}
