@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.Menu{
    background-color: #3E733C;
}

.BlogTitle{
    font-family: 'Bebas Neue' !important;
    cursor: pointer;
}

.MenuPagesFont{
    font-family: 'Roboto' !important;
    font-size: 20px !important;
}

.MenuPagesComnectar{
    margin-left:0px;
    margin-right:24px;
    cursor: pointer;
    color: #40352C;
    transition: all .5s;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.imglogo {
    width: 250px;
}

.MenuPagesCenterBox{
    margin-left:24px;
    margin-right:24px;
    cursor: pointer;
    color: white;
}

.MenuPagesCenterBox:hover{
    color: #40352C;
    transform: scale(1.1);
}

.MenuPagesEntrar {
    margin-right:6px;
    cursor: pointer;
    color: white;
}

.botaoentrar {
    background-color: #ADBF24 !important;
    color: white !important;
    font-weight: bold !important;
}

.botaoentrar:hover {
    background-color: #96A621 !important;
    color: white !important;
}

.MenuPagesCadastrar {
    margin-left:6px;
    cursor: pointer;
    color: white;
}

.botaocadastrar {
    color: white !important;
    font-weight: bold !important;
    background-color: #ADBF24 !important;
}

.botaocadastrar:hover {
    background-color: #96A621 !important;
    color: white !important;
}

.botoesportal{
    display: flex;
    flex-direction: row;
}

.botoesportal2{
    margin: auto;
    display: flex;
    
}

.textoportal{
    text-align: center;
}

.textoportal2{
    text-align: center;
}

.menuportal{
    position: absolute;
    top:56px;
    right: -56px;
    height: 64px;
    padding: 0;
    width: 260px;
    justify-content: center;
    border-radius: 10px;
    background-color: #40352c;
    display: flex;
    align-items: center;
}

.menuportal2{
    display: flex;
    padding: 0;
    border-radius: 10px;
    background-color: #40352c9f;
}
.cursor-p{
    cursor: pointer
}

.MuiTypography-root.color-clicked{
    color: #96A621 !important;
}

.text-decorator-none{
    text-decoration: none;
}

.btn-carrinho{
    background-color: #ADBF24 !important;
    color: white !important;
    width: 48px !important;
    height: 48px !important;
    border-radius: 50% !important;
}

.btn-carrinho:hover{
    background-color: #96A621 !important;
    color: #40352C !important;
}

.MuiSvgIcon-root {
    fill: white !important;
}

.boxcarrinho{
    margin-left: 20px;
}

.position-r{
    position: relative;
}