@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bgCadastroFoto{
    background-image: url(https://i.imgur.com/pFxrXoXh.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
}

.boxCadastro{
    display:flex;
    justify-content: center;
    padding: 5% 10%;
}

.paperCadastro{
    border-radius: 30px !important;
    opacity: .75;
    width: 40vw;
    box-shadow:96px;
}

.paperCadastroTitulo{
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
}


.btnCadastrar{
    background: #BF8969 !important;
    border-color: #40352C !important;
    font-weight: bold !important;
}

.btnCadastrar:hover {
    background-color: #96A621 !important;
    color: white;
    transform: scale(1.1);
}

