*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    background-color: #adbf244b;
}
.tituloC{
    color: #3E733C !important;
    font-weight: 'bold' !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 50px !important;
}
.tituloC2{
    color: #96A621 !important;
    font-family: 'Roboto', sans-serif  !important;
    font-size: 40px !important;
}
.intro{
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 50px !important;
    margin-bottom: 30px !important;
}
.cardCont {
    width: 400px;
    height: 200px;
    background-image: url("https://i.imgur.com/KXU1EAS.jpg") !important;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}
