.box1 {
    display: flex;
    flex-direction: row;
    background-color: #3E733C;
    height: 96px;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.box1 img {
    height: 50px;
}

.box2 {
    height: 50px;
    background-color: #396A37;
}

.caixa1{
    display: flex;
    flex-direction: row;
}

.caixa1:hover {
    transform: scale(1.2);
    color: #ABDF24 !important;
    transition: transform 1s !important;
}

.caixa2 {
    display: flex;
    flex-direction: row;
}

.social {
    font-size: 50px !important;
    margin: 10px;
    color: #ABDF24 !important;
    transition: transform 1s !important;
}

.social:hover {
    transform: scale(1.2);
    color: #ABDF24 !important;
}

.textos {
    color: white;
    margin-top: 8px !important;
}

.link-hover {
    transition: transform 1s;
}

.link-hover:hover {
    
    color: #ABDF24 !important;
}
