.topoCompra {
    
    width: 100%;
}

.boxTopoCompra {
    height: 320px;
    background: linear-gradient(93.59deg, rgba(0, 0, 0, 0.6) 13.61%, rgba(0, 0, 0, 0) 87.41%), url(https://i.imgur.com/5HQKREc.png) fixed center center;
    background-size: cover;
}

.tituloCompra {
    color: white;
    font-weight: 800 !important;
    font-size: 64px !important;
}

.boxBusca {
    font-weight: bold;
    gap: 24px;
}

.caixaBusca {
    height: 53px;
    width: 624px;
    height: 53px;
    top: 430px !important;
    background: rgba(173, 191, 36, 0.3);
    border-radius: 5px;
}

.botaoBusca {
    color: white;
    width: 120px;
    height: 53px;
}
.title{
    font-size: 42px !important;
    font-weight: bold !important;
}