@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.boxfoto {
    height: 450px;
    margin-bottom: 50px !important;
    padding-bottom: 50px !important;
    gap: 8px;
}

.caixatop {
    background-image: url(https://imgur.com/hO7Li09.png) !important;
    background-size: cover !important;
    background-position: center !important;
    height: 420px !important;
    position:relative !important;
    z-index: 1 !important;
}

.caixatop2 {
    background-color: #3E733C !important;
    background-size: cover !important;
    background-position: center !important;
    height: 160px !important;
    position:relative !important;
}
.imgLogoH{
    height: 160px;
}

.caixatop3 {
    background-image: url(https://i.imgur.com/MTAw8Pr.png) !important;
    background-size: cover !important;
    background-position: bottom !important;
    height: 420px !important;
    position:relative !important;
    z-index: 1 !important;
}

.tituloh {
    font-family: 'Bebas Neue' !important;
    color: #40352C;
    mix-blend-mode: color-burn !important;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
}
.tituloh1 {
    margin-top: 320px;
}

.botaoH1 {
    position: absolute !important;
    width: fit-content !important;
    height: fit-content !important;
    left: 46% !important;
    top: 160px !important;
    background-color: #40352C !important;
    opacity: 0.75!important;
    color: white !important;
    font-size: 25px !important;
    font-family: 'Roboto', sans-serif !important;
    z-index: 2 !important;
}

.botaoH1:hover {
    opacity: 0.95 !important;

}
.botaoH2 {
    position: absolute !important;
    width: fit-content !important;
    height: fit-content !important;
    left: 43% !important;
    bottom: 45% !important;
    background-color: #ADBF24 !important;
    opacity: 0.75 !important;
    color: white !important;
    font-size: 25px !important;
    font-family: 'Roboto', sans-serif !important;
    z-index: 2 !important;
}

.botaoH2:hover {
    opacity: 0.95 !important;
}

.beneficios {
    margin-top: 40px;
    height: 20px;
}

.caixacard {
    margin-top: 100px !important;
    margin-bottom: 200px !important;
}

.card1 {
    width: 350px;
    height: 200px;
    background-color: #3E733C !important;
}

.card2 {
    width: 350px;
    height: 200px;
    background-color: #ADBF24 !important;
}

.card3 {
    width: 350px;
    height: 200px;
    background-color: #d3d3d3 !important;
}

.tituloh2 {
    color: white;
    font-size: 90px !important;
    font-family: 'Bebas Neue' !important;
    margin-top: 48px !important;
}

.imgh1 {
    height: 100vh;
    background: linear-gradient(93.59deg, rgba(0, 0, 0, 0.6) 13.61%, rgba(0, 0, 0, 0) 87.41%), url(https://images.pexels.com/photos/5529606/pexels-photo-5529606.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center;
    background-size: cover;
}

.botaoh3 {
    width: 270px !important;
    height: fit-content !important;
    font-size: 20px !important;
}

.paperHomeLogada{
    width:450px;
    margin-bottom: 64px !important;
    padding: 40px 5px 20px 5px;
}

.LandingText1{
    font-size: 40px !important;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif
}

.LandingText2{
    font-size: 30px !important;
    font-family: 'Roboto', sans-serif;
}