*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont-esquerda{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

.cont-direita{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    border: 5px;
}
.subtitulo1{
    color: #3E733C;
    font-weight: bold;
}
.background{
    background-color: #adbf244b;
}
.imagem1{
    width: 170px !important;
    height: 170px !important;
    border-radius: 50% !important;
   
}
.cardLuciana {
    width: 350px;
    height: 200px;
    background-image: url("https://media-exp2.licdn.com/dms/image/C4D03AQEoAAQp33vwTA/profile-displayphoto-shrink_800_800/0/1653526998614?e=1661990400&v=beta&t=LNCw_qIeZBr-L3qdixnsNWvgCVn4JetdMhKimesk8mU") #3E733C !important;
}

.cardAndrei {
    width: 350px;
    height: 200px;
    background-image: url("https://media-exp2.licdn.com/dms/image/C4D03AQGjJbZc-UArzA/profile-displayphoto-shrink_800_800/0/1653397405173?e=1661990400&v=beta&t=nyilrwL2yW29yYbWH4cUw-3w7KPhU0MacFOdOGsdrbA") !important;
}

.cardLuan {
    width: 350px;
    height: 200px;
    background-image: url("https://media-exp2.licdn.com/dms/image/D5635AQECo64tJba7ow/profile-framedphoto-shrink_800_800/0/1655403103665?e=1657220400&v=beta&t=DtffLYU0sVgFqINkN2IIepaQz_12tT1czQI26B82Tkw")!important;
}
.cardLairton{
    width: 350px;
    height: 200px;
    background-image: url("https://media-exp2.licdn.com/dms/image/D4D35AQEm0MjA9a9p_g/profile-framedphoto-shrink_800_800/0/1653397151221?e=1657220400&v=beta&t=Y6yYk-_Exv2lH4CT7lJjtVZ2SsOOzdEoQGT7hOWTU7U")!important;
}
.cardTacio{
    width: 350px;
    height: 200px;
    background-image: url("https://media-exp2.licdn.com/dms/image/C5603AQHJ-YG1JlJYAQ/profile-displayphoto-shrink_800_800/0/1637690438296?e=1661990400&v=beta&t=BKEmLaBJ_4BLLpYtSWPuLY50CLgphrzwI5LoBTH7xjE")!important;
}
.cardIsabela{
    width: 350px;
    height: 200px;
    background-image: url("https://i.imgur.com/kvgzbn7.jpg")!important;
}